<!doctype html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<!--ie min version is edge-->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!--get mobile width and height cancel the initial event -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<!--delete apple initial tools and list -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!--delete apple initial time -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
		<link rel="stylesheet" href="/stylesheets/swiper.min.css" />
		<link rel="stylesheet" href="/stylesheets/index.css" />
		<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/swiper.jquery.min.js"></script>
		<script type="text/javascript" src="/javascripts/index.js"></script>
		<title></title>
		<style>
			* {
				padding: 0;
				margin: 0;
			}

			ul,
			ol,
			li {
				list-style: none;
			}

			a,
			a:visited {
				text-decoration: none;
			}

			.fl {
				float: left;
			}

			.fr {
				float: right;
			}

			.clearFix:after {
				display: block;
				content: "";
				clear: both;
			}

			.r {
				background: red
			}

			.g {
				background: green
			}

			.b {
				background: blue
			}
			/*min width is 333*/
			/*body {
				min-width: 333px;
				width: expression_r( document.body.clientWidth < 334 ? "333px": "auto");
			}*/
			/*mobile*/

			@media screen and (min-width:0px) and (max-width:768px) {}
			/*PC tablet*/

			@media screen and (min-width:769px) {}
		</style>
		<script>
			//change rem
			;
			(function(win, doc) {
				function changeSize() {
					doc.documentElement.style.fontSize = doc.documentElement.clientWidth / 320 * 100 + 'px';
				}
				win.addEventListener('DOMContentLoaded', changeSize, false);
				win.addEventListener('resize', changeSize, false);
			})(window, document);
		</script>
	</head>

	<body>

	</body>

	<body style="font-size:12px;">
		<div class="container">
			<!-- Swiper -->
			<!-- Swiper -->
			<div class="top">
					<div class="nav-header-container nav-header-container-logo clearfix">
						<a class="fl baidu-icon"></a>
						<a class="fl profile-icon"></a>
						<a class="fr subscribe-icon"></a>
						<a class="fr search-icon"></a>
					</div>
				</div>
			<header>

				<div class="swiper-container swiper1">
					<div class="swiper-wrapper">
						<div class="swiper-slide newstag bbwhite">推荐</div>
						<div class="swiper-slide newstag">百家</div>
						<div class="swiper-slide newstag">本地</div>
						<div class="swiper-slide newstag">娱乐</div>
						<div class="swiper-slide newstag">社会</div>
						<div class="swiper-slide newstag">军事</div>
						<div class="swiper-slide newstag">搞笑</div>
						<div class="swiper-slide newstag">女人</div>
						<div class="swiper-slide newstag">互联网</div>
						<div class="swiper-slide newstag">科技</div>
						<div class="swiper-slide newstag">生活</div>
						<div class="swiper-slide newstag">国际</div>
						<div class="swiper-slide newstag">国内</div>
						<div class="swiper-slide newstag">体育</div>
						<div class="swiper-slide newstag">汽车</div>
						<div class="swiper-slide newstag">财经</div>
						<div class="swiper-slide newstag">房产</div>
						<div class="swiper-slide newstag">时尚</div>
						<div class="swiper-slide newstag">教育</div>
						<div class="swiper-slide newstag">游戏</div>
						<div class="swiper-slide newstag">旅游</div>
						<div class="swiper-slide newstag">人文</div>
						<div class="swiper-slide newstag">创意</div>
					</div>
				</div>
			</header>
			<div class="swiper-container swiper2">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="https://timg01.bdimg.com/timg?tc&amp;size=b508_318&amp;sec=0&amp;quality=75&amp;cut_x=64&amp;cut_y=0&amp;cut_h=0&amp;cut_w=508&amp;di=34db43c1875e7298e2c472c8f7eae655&amp;src=http%3A%2F%2Fimgsa.baidu.com%2Fnews%2Fcrop%253D0%252C5%252C637%252C318%2Fsign%3D38e022bdb6315c6057da31afb081e726%2Fbd315c6034a85edf55af708b43540923dd547573.jpg" alt="韩未来武直“撞脸”直9？">
						<p class="swiper2-des-1"><span>韩未来武直“撞脸”直9？</span></p>
					</div>
					<div class="swiper-slide">
						<img src="https://timg01.bdimg.com/timg?tc&amp;size=b716_448&amp;sec=0&amp;quality=75&amp;cut_x=90&amp;cut_y=0&amp;cut_h=0&amp;cut_w=716&amp;di=bbffbba0640ad5adda8dfd2c8070743e&amp;src=http%3A%2F%2Fimgsa.baidu.com%2Fnews%2Fcrop%253D0%252C0%252C897%252C448%2Fsign%3D19e5f9d22aa446236a85ff22a5125e3e%2F503d269759ee3d6d213c046349166d224e4adea4.jpg" alt="洪峰抵武汉两江交汇清浊交融">
						<p class="swiper2-des-1"><span>韩未来武直“撞脸”直9？</span></p>
					</div>

					<div class="swiper-slide">
						<img src="https://timg01.bdimg.com/timg?tc&amp;size=b508_318&amp;sec=0&amp;quality=75&amp;cut_x=64&amp;cut_y=0&amp;cut_h=0&amp;cut_w=508&amp;di=75571ff7665f6ba2c397d928053323d1&amp;src=http%3A%2F%2Fimgsa.baidu.com%2Fnews%2Fcrop%253D0%252C0%252C637%252C318%2Fsign%3Db21228c0db09b3defff0be28f18f40b1%2Fd009b3de9c82d15828e3d6198a0a19d8bc3e4231.jpg" alt="乐视总部门口躺满讨债人">
						<p class="swiper2-des-1"><span>韩未来武直“撞脸”直9？</span></p>
					</div>
				</div>

				<div class="swiper-pagination2"></div>
			</div>
			<script>
				var Swiper1 = new Swiper('.swiper1', {
					slidesPerView: 5,
					spaceBetween:10,
					height:40
					//					spaceBetween: 30,
					//					centeredSlides : true,
					//					autoplay: 5000, //可选选项，自动滑动
				})
				var sWiper2 = new Swiper('.swiper2', {

					//					scrollbar: '.swiper-scrollbar',
					//					scrollbarHide: true,
					//					slidesPerView: 'auto',
					//					centeredSlides: true,
					//					spaceBetween: 30,
					//					grabCursor: true
					pagination: '.swiper-pagination2',
					loop: true
				});
			</script>
			<!--<script>
				$('.newstag').click(function(){
					console.log('222');
				})
			</script>-->
			<div class="newslist-container" id="newslist-container">
			</div>
			<footer></footer>
		</div>
	</body>

</html>